/* Font & Base Styling */
body {
  font-family: "Josh", sans-serif;
  background-color: #FDFAF6; /* Light cream */
  color: #333;
  font-size: 18px;
  font-weight: lighter;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}
/* Main Heading */
h1 {
  color: #658354; /* Sage Green */
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 800;
}

/* Section Headings */
h2 {
  color: #99BC85;
  font-size: 28px;
  font-weight: lighter;
  font-weight: 500;
}


a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color:#70745B ;
  font-weight: 600 ;
  font-size: 18px

}

a:hover {
  color: black;
}

/*Custom Design with class*/

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

.card-white {
  border-radius: 5px;
  margin: 20px 0px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.btn-green {
  background-color:#70745B;
  color: white;
  padding: 10px 15px ;
  border-radius: 5px;
}

.btn-green:hover {
  background-color: black;
  color: white;
}

.lst-inline {
  list-style: none;
  padding-left: 0px;
}

.lst-inline li {
  display: inline;
  padding: 10px;
}

.lst-inline i {
  font-size: 30px;
}


.lst-inline i:hover {
  color: black;
}


/*Design adjustment using id*/
#introduction p {
  margin-bottom: 30px;
}








